# enable full preemption
CONFIG_PREEMPT_RT=y

# Add f_accessory function for usb gadget
CONFIG_USB_CONFIGFS_UEVENT=y
CONFIG_USB_CONFIGFS_F_ACC=y

# Disable bnep in bluetooth
CONFIG_BT_BNEP=n

# Disable some kernel debugging options
CONFIG_DEBUG_BUGVERBOSE=n
CONFIG_DEBUG_FS=n
CONFIG_KGDB=n
CONFIG_DEBUG_MEMORY_INIT=n
CONFIG_FTRACE=n
CONFIG_SLUB_DEBUG=n

# set performance during boot
CONFIG_CPU_FREQ_DEFAULT_GOV_PERFORMANCE=y
CONFIG_CPU_FREQ_DEFAULT_GOV_POWERSAVE=n
CONFIG_HID_PID=n
CONFIG_SOUND=n
CONFIG_SND=n
CONFIG_DVB_CORE=n
CONFIG_DVB_NET=n
CONFIG_MEDIA_ANALOG_TV_SUPPORT=n
CONFIG_MEDIA_DIGITAL_TV_SUPPORT=n
CONFIG_MEDIA_RADIO_SUPPORT=n
CONFIG_MEDIA_SDR_SUPPORT=n
CONFIG_MEDIA_CAMERA_SUPPORT=n
CONFIG_VIDEO_CAMERA_SENSOR=n
CONFIG_OPENVSWITCH=n
CONFIG_USB_HID=n
CONFIG_MEDIA_USB_SUPPORT=n
CONFIG_RADIO_ADAPTERS=n
CONFIG_MEDIA_CONTROLLER_DVB=n
CONFIG_MEDIA_CAMERA_SUPPORT=n
CONFIG_INPUT_MOUSEDEV=n
CONFIG_INPUT_JOYDEV=n
CONFIG_INPUT_JOYSTICK=n
CONFIG_INPUT_TABLET=n
CONFIG_INPUT_TOUCHSCREEN=n
CONFIG_IIO=n
CONFIG_RC_CORE=n
CONFIG_W1=n
CONFIG_PPP=n
CONFIG_SLIP=n
CONFIG_HID_LOGITECH=n
CONFIG_HID_MAGICMOUSE=n
CONFIG_HID_A4TECH=n
CONFIG_HID_ACRUX=n
CONFIG_HID_APPLE=n
CONFIG_HID_ASUS=n
CONFIG_VIRTIO_MENU=n
CONFIG_CDROM=n
CONFIG_XFS_FS=n
CONFIG_HPFS_FS=n
CONFIG_EFS_FS=n
CONFIG_REISERFS_FS=n
CONFIG_JFS_FS=n
CONFIG_GFS2_FS=n
CONFIG_BTRFS_FS=n
CONFIG_NILFS2_FS=n
CONFIG_OCFS2_FS=n
CONFIG_FUSE_FS=n
CONFIG_NETWORK_FILESYSTEMS=n
CONFIG_MISC_FILESYSTEMS=n
CONFIG_NTFS_FS=n
CONFIG_NTFS3_FS=n
CONFIG_CAN=n
CONFIG_NET_9P=n
CONFIG_CEPH_LIB=n
CONFIG_NFC=n
CONFIG_NET_IPIP=n
CONFIG_NET_IPGRE_DEMUX=n
CONFIG_NET_IPVTI=n
CONFIG_NETFILTER=n
CONFIG_BATMAN_ADV=n
CONFIG_ATALK=n
CONFIG_6LOWPAN=n
CONFIG_IEEE802154=n
CONFIG_MD=n
CONFIG_R8712U=n
CONFIG_R8188EU=n
CONFIG_VT6656=n
CONFIG_PRISM2_USB=n
